.grid {
    display: grid;
    grid-template-columns: repeat(
      var(--grid-placement, auto-fill),
      minmax(var(--grid-min-item-size, 18rem), 1fr)
    );
    gap: var(--gutter, var(--space-l));
  }